@{
	Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<title>Error</title>
		<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h2>
			Sorry, an error occurred while processing your request.
		</h2>
	</body>
</html>